<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome to the RBAC App</h1>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</body>
</html>
